/* Estilo geral */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

/* Cabeçalho */
header h1 {
    font-size: 2rem;
    color: #333;
}

/* Abas */
.stTabs {
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

/* Indicadores de Métricas */
.metric-container {
    padding: 10px;
    border-radius: 8px;
    margin: 5px;
    background-color: #e8f4fc;
}

.metric-title {
    color: #006699;
    font-weight: bold;
}

.metric-value {
    color: #333;
    font-size: 1.5rem;
}

/* Gráficos */
.plotly-graph {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
